
body{
	background-color:#696969;
}

.menu{
	margin: 0px auto 0 auto;
	width: 1600px;
	background-color: #000000;
	height: 80px;
	
}

.menu li{
	display:inline-block;
	background-color: #000000;
	padding: 5px;
	margin-top: 5px;
	margin-left:60px;
}

.menu li a{
	text-decoration:none;
	font-size: 30px;
	font-family: cursive;
	color: white;
	padding:10px;
	
}


.menu li a:hover {
    background-color: white;
	color:black;
}

.menu li a.active {
    background-color: white;
    color: black;
}
.main{
	margin: 100px auto 0px auto;
	background-color:white;
	height:1300px;
	width: 1200px;
	border: 10px solid black;
}

#wstep{
	border-bottom: 10px solid black;
	margin-top: -50px;
	background-image: url(wyniki/title.jpeg);
	background-repeat: no-repeat;
	width: 100% ;
	height: 250px;
	
}

#wstep p{
	color: white;
	text-align: center;
	font-size: 50px;
}

table{
	margin: 40px auto 0px auto;
}
.logo{
	border: 3px solid black;
	width: 50px;
	height: 50px;
}

.logo img{
	padding: 4px;
	width:50px;
	height:50px;
}

.team{
	border: 3px solid black;
	height: 50px;
	width: 400px;
	text-align:center;
	font-size: 30px;
	font-family: cursive;
}

.score{
	border: 3px solid black;
	height: 50px;
	width: 80px;
	text-align: center;
	font-weight: bold;	
	font-size: 15px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    font-size:30px;
    font-family: cursive;
    padding: 20px;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
background-color: white;
color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
